.nested-fields
  %div{:class => "col-md-4 doc-class"}
    %div{:class => ["input-group"]}
      %span{:class => ["input-group-addon"]} Document Name
      = f.text_field :name
  %div{:class => "col-md-4 doc-class"}
    = f.file_field :doc
  = link_to_remove_association "Remove Document", f, class: "btn bnt-lg btn-warning doc-button col-md-4 doc-class"
