<div class="document">
  <% new_or_existing = document.new_record? ? 'new' : 'existing' %>
  <% prefix = "assignment[#{new_or_existing}_document_attributes][]"%>
  <% fields_for prefix, document do |document_form| %>
  <p>
  Name: <%= document_form.text_field :name %>
  <%= link_to "Remove", "#", class: "remove_link" %>
  <script>
    $(function(){
      $(".remove_link").click(function(){
        $(this).up('.document').remove();
      });
    });
  </script>
</p>
  <% end %>
</div>
