<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Documents</h3>
  </div>
  <div class="panel-body">
    <% documents.each do |doc| %>
      <div class="row" style="padding: 0 10px;">
        <div id='<%= "document_#{doc.id}" %>'>
          <%= link_to doc.name, doc.doc.url, class: "fancybox" %>
          <span class="pull-right btn btn-info bip-button"><%= link_to "Download  ", course_assignment_document_download_path(@course, @assignment, doc), style: "color: white;" %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
