<% @course.assignments.each do |ass| %>
  <div class="panel panel-default">
    <div id='<%= "Assignment_#{ass.id}_title" %>' class="panel-body">
      <%= link_to "#{ass.title}", course_assignment_path(@course, ass) %>
      <div class="pull-right">
        <%= "Due Date: " + ass.due_date.strftime("%m/%d/%Y") + " " %>
        <%= time_left?(ass) %>
      </div>
    </div>
  </div>
<% end %>
