<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-2"></div>
  <div class="col-md-1 text-right">
    <%= link_to "Create New Assignment", new_course_assignment_path(@course), class: "btn btn-success" %>
  </div>
  <div class="col-md-1"></div>
</div>
