<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 text-right">
    <%= link_to "Create New Assignment", new_course_assignment_path(@course), class: "btn btn-success btn-block" %>
  </div>
</div>
