<div class="page-header">
  <h1 class="text-left">New Course</h1>
</div>

<div class="container">
  <%= render 'form' %>

  <div class="col-sm-4">
    <div class="panel">
      <%= link_to 'Back', courses_path, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>
