<footer class="footer">
  <small>
    EClass - &copy; 2015 <%= " - #{Date.today.year}" unless Date.today.year == 2015 %>
  </small>
  <nav>
    <ul>
      <li><a href="/about.html" target="_self">About</a></li>
      <li><a href="/contact_us.html" target="_self">Contact</a></li>
    </ul>
  </nav>
</footer>
