<footer class="footer">
  <small>
    EClass - &copy; 2015 <%= " - #{Date.today.year}" unless Date.today.year == 2015 %>
  </small>
  <nav>
    <ul>
      <li><a href="/pages/about.html" target="_self">About</a></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
